<!DOCTYPE html>
<html>
  <head>
    <title>Alqapp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>
      Nextix App
    </h1>
    <div>
      <% if(data != null){ %>
      <div id="info">
        Name: <label id="t-name"></label><br>
        Skor: <label id="t-skor"></label><br>
        Absen: <label id="t-absen"></label><br>
        <br>
        <a href=/logout>Logout</a>
      </div><br>
      <div id="tugas"></div><br>
      <script>
        var name = $("#t-name")
        name.html(<%= data %>)
      </script>
      <% }else{ %>
      Not Logged in, login in <a href="login">Here</a>
      <% } %>
    </div>
  </body>
</html>
