<!DOCTYPE html>
<html>
  <head>
    <title>Alqapp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>
      Nextix App
    </h1>
    <div>
      <% if(data != null){ %>
      <div id="info">
        Name: <label id="t-name"></label><br>
        Skor: <label id="t-skor"></label><br>
        Absen: <label id="t-absen"></label><br>
        <br>
        <a href=/logout>Logout</a>
      </div><br>
      <div id="tugas"></div><br>
      <script>
        var tugas;
        $.getJSON( "data.json", function( dataa ) {
          $("#t-name").html("<%= data %>")
          $("#t-skor").html(dataa["<%= data %>"][1])
          $("#t-absen").html(dataa["<%= data %>"][2])
        });
        $.getJSON( "tugas.json", function( dataa ) {
          var arr = <%= JSON.stringify(tugas) %>;
          for(let x in dataa){
            if(!arr.includes(x))
            $("#tugas").append("<a href='/soal?id="+x+"'>"+dataa[x].name+"</a><br>")
          }
        })
      </script>
      <% }else{ %>
      Not Logged in, login in <a href="login">Here</a>
      <% } %>
    </div>
  </body>
</html>